{"version":"2.1.0","$schema":"https://docs.oasis-open.org/sarif/sarif/v2.1.0/os/schemas/sarif-schema-2.1.0.json","runs":[{"tool":{"driver":{"name":"actionlint","informationUri":"https://github.com/rhysd/actionlint"}},"results":[{{range $i,$e := .}}{{if $i}},{{end}}{"ruleId":{{json $e.Kind}},"level":"error","message":{"text":{{json $e.Message}}},"locations":[{"physicalLocation":{"artifactLocation":{"uri":{{json $e.Filepath}}},"region":{"startLine":{{$e.Line}},"startColumn":{{$e.Column}},"endColumn":{{$e.EndColumn}}}}}]}{{end}}]}]}
